<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Cabinet Page</title>
    <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body>
    <h1> Cabinet Page Access USER ADMIN </h1>
    <div class="mainBox">
      <div class="box">
        <div class="containerImg">
          <img src="/img/Image1.png">
        </div>
      </div>
      <div class="box">
        <div class="containerImg">
          <img src="/img/Image2.png">
        </div>
      </div>
      <div class="box">
        <div class="containerImg">
          <img src="/img/Image3.png">
        </div>
      </div>
      <div class="box">
        <div class="containerImg">
          <img src="/img/Image4.png">
        </div>
      </div>
      <div class="box">
        <div class="containerImg">
          <img src="/img/Image5.png">
        </div>
      </div>
      <div class="box">
        <div class="containerImg">
          <img src="/img/Image6.png">
        </div>
      </div>
      <div class="box">
        <div class="containerImg">
          <img src="/img/Image7.png">
        </div>
      </div>
      <div class="box">
        <div class="containerImg">
          <img src="/img/Image8.png">
        </div>
      </div>
      <div class="box">
        <div class="containerImg">
          <img src="/img/Image9.png">
        </div>
      </div>
      <div class="box">
        <div class="containerImg">
          <img src="/img/Image10.png">
        </div>
      </div>
      <div class="box">
        <div class="containerImg">
          <img src="/img/Image11.png">
        </div>
      </div>
      <div class="box">
        <div class="containerImg">
          <img src="/img/Image12.png">
        </div>
      </div>
      <div class="box">
        <div class="containerImg">
          <img src="/img/Image13.png">
        </div>
      </div>
      <div class="box">
        <div class="containerImg">
          <img src="/img/Image14.png">
        </div>
      </div>
      <div class="box">
        <div class="containerImg">
          <img src="/img/Image15.png">
        </div>
      </div>
      <div class="box">
        <div class="containerImg">
          <img src="/img/Image16.png">
        </div>
      </div>
      <div class="box">
        <div class="containerImg">
          <img src="/img/Image17.png">
        </div>
      </div>
      <div class="box">
        <div class="containerImg">
          <img src="/img/Image18.png">
        </div>
      </div>
      <div class="box">
        <div class="containerImg">
          <img src="/img/Image19.png">
        </div>
      </div>
      <div class="box">
        <div class="containerImg">
          <img src="/img/Image20.png">
        </div>
      </div>
    </div>
  </body>
</html>
